<mat-card  class="row-margin-tb card-dark">
    <form [formGroup]="Form"
      (ngSubmit)="onSubmit()">
    <ng-container>
        <mat-card class="card">
            <app-app-headers [headerProps]="genericHeadingProps('Rehabilitation of offenders','text-bolder text-color','15px')"></app-app-headers>
            
            <div fxLayout="row wrap"
                 fxLayoutAlign="space-between center"
                 class="row-wrap-margins">
                 <div fxFlex="100">
                    <p class="form-text">
                        The Rehabilitation of Offenders Act 1974 allows certain people to consider their criminal convictions as ‘spent’
                        meaning that they don’t have to reveal those convictions when applying for jobs. This job is exempt from the
                        provisions of the Act in order to protect the public. As such you need to inform us of any criminal convictions you
                        have received. Any of the information you give us will be treated as confidential and will not necessarily mean that
                        your application will not be successful.
                    </p>
                </div>
            </div>
            <app-app-headers
                             [headerProps]=" genericHeadingProps('Have you ever been convicted of a criminal offence?','text-small text-gray','0px 15px')">
            </app-app-headers>
            <div fxLayout="row wrap"
                     fxLayoutAlign="start center"
                     fxLayoutGap="15px"
                     style="margin: 10px;">
                    <mat-radio-group aria-label="Select an option"
                                     formControlName="option">
                        <mat-radio-button value="1">Yes</mat-radio-button>
                        <mat-radio-button value="2">No</mat-radio-button>
                    </mat-radio-group>

            <div fxFlex.xl="50"
                 fxFlex.lg="98"
                 fxFlex.md="98"
                 fxFlex.sm="100"
                 fxFlex.xs="100"
                 class="col-flex-margins">
                 <textarea
                     placeholder="Please enter those details here."
                     formControlName="name"
                     class="txtarea"
                     required>
                </textarea>
                </div>
                </div>
            

            <app-form-foooter [footerProps]="footerProps"></app-form-foooter>
        </mat-card>
    </ng-container>
</form>
</mat-card>
