.today {
    background: yellow;
}

// .selected {
//     background: greenyellow;
// }

.mat-table {
    // font-weight: bold;
    font: normal normal normal 15px Poppins;
}

.month-view-navigate {
    display: flex;
    gap: 15px;
    width: 430px;
    background: #E4E7E9;
    padding-top: 6px;
    padding: 5px 20px 5px 29px;
    margin-left: 5px;
}

tr button.selected {
    border: 2px solid;
    border-radius: 3px;
}

.month-label {
    font-size: 19px;
    font-weight: 700;
    -webkit-text-stroke: thin;
    margin-top: 8px;
}

.month-view-table {
    width: 315px;
    margin-top: 20px;
}

th {
    text-align: center;
}

td {
    padding: 7px;
}

td button {
    width: 50px;
    border: none;
    padding: 5px 0px;
    background: none;
}

.notCurrent {
    background: #f3f3f3 !important;
    color: #aca9a9;
}

::ng-deep th.mat-header-cell {
    // background: #A5AEB626;
    background: #eff0f2;
}

tr.mat-row {
    height: 55px;
}

.iconActions {
    width: 70px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.cell-buttons-margin {
    margin: 0px 3px 2px;
    display: table-cell;
    line-height: 30px;
    border-radius: 7px;
}

// SD Nursery
.topbarCalender
{
    cursor:pointer;
    min-width: 20px;
    margin-right: 10px,
}
tr.mat-header-row {
    height: 40px;
}
.mat-cell, .mat-footer-cell {
    font-size: 14px !important;
}

.total {
    color: #687784;
    margin-top: 16px
}

.flex-start-important {
    justify-content: flex-start !important;
}

.mat-cell.flex-start-important {
    justify-content: flex-start !important;
}

th.mat-header-cell {
    text-align: center;
    // height: 40px;
    border-left: 1px solid;
    border-color: #E4E7E9;
    // padding: 0px 10px !important;
    white-space: nowrap;
    font: normal normal bold 15px Poppins;
    opacity: 1;
}

mat-cell > span.ellipsis {
    text-overflow: ellipsis;
    max-width: 320px;
    overflow: hidden;
    white-space: nowrap;
 }

// table {
//     width: 100%;
// }

mat-header-cell,
mat-cell {
    justify-content: center !important;
}

.mat-sort-header-container {
    justify-content: center !important;
}

tr.example-detail-row {
    height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
    // background: whitesmoke;
}

.example-element-row td {
    border-bottom-width: 0;
    border-left: 1px solid;
    border-color: #E4E7E9;
}

.example-element-detail {
    overflow: hidden;
    display: flex;
}

.example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
}

.example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
}

.example-element-description {
    // padding: 16px;
}

.example-element-description-attribution {
    opacity: 0.5;
}


table.mat {
    border-collapse: collapse;
    border-color: #ffffff;
    width: calc(100% - 1px);
}

th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type {
    // padding-right: 0px !important;
}
// for holidays date table column
.mat-column-date {
  min-width: 90px !important;
}
.mat-column-memo {
  // background-color: red !important;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  width: 350px;
}
.mat-column-description
{
  min-width: 100px !important;
  max-width: 200px !important;
}

// td.mat-cell, td.mat-footer-cell {
//     padding: 0px !important;
// }

td.mat-cell {
    text-align: center;
    // height: 40px;
    border-left: 1px solid;
    border-color: #E4E7E9;
    // padding: 0px 10px !important;
    white-space: nowrap;
    font: normal normal bold 15px Poppins;
    opacity: 1;
    max-width: 198px;
    border-right-style: initial !important;
}

td.small {
    max-width: 150px;
}

.hour-box {
    width: 15px;
    height: 15px;
  }
  
  .hour-box-start {
    border-right: 1px solid #E4E7E9;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  
  .hour-box-mid {
    border-right: 1px solid #E4E7E9;
  }
  
  .hour-box-end {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  
  .hour-box-disabled {
    background-color: #E4E7E9;
  }
  
  .hour-box-available {
      background-color: #00D100;
  }
  
  .hour-box-limited {
      background-color: #FF9F10;
  }
  
  .hour-box-not-available {
      background-color: #F10000;
  }

  .slot-bar {
    display: inline-block;
  }

  .legends {
    display: flex;
    gap: 15px;
  }

  .cell {
    min-width: 140px;
    max-width: 175px;
    border-bottom-color: rgb(228, 231, 233);
    border-bottom-width: 0px;
    border-collapse: collapse;
    border-left-color: rgb(228, 231, 233);
    border-left-style: solid;
    border-left-width: 0.8px;
    border-right-color: rgb(228, 231, 233);
    border-top-color: rgb(228, 231, 233);
  }

  .table-head th {
    background: #eff0f2;
    padding: 7px;
  }

  :host ::ng-deep td.mat-cell, td.mat-footer-cell {
    padding: 13px !important;
  }

  :host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
    padding-bottom: 0px !important;
  }

  @media screen and (min-width: 1433px) {

    .slot-bar-text {
       font-size: 13px; 
    } 
    
  }

  @media screen and (min-width: 1325px) and (max-width: 1433px) {

    .slot-bar-text {
       font-size: 11px; 
    } 
    
  }

  @media screen and (max-width: 1325px) {

    .slot-bar-text {
       font-size: 10px; 
    } 
    
  }

  @media screen and (max-width: 1470px) {
    .text-bolder {
        font-size: 17px;
    }

    .header-button {
        font-size: 12px !important;
    }

    .legends {
        gap: 12px;
    }
    
  }

//   @media screen {
//     .text-bolder {
//         font: normal normal 600 17px Poppins;
//     }
//   }

