
.term-spring {
    cursor:pointer;
    background-color: #00AFBB1A; 
    border: 1px solid #00AFBB;
}

.term-summer {
    cursor:pointer;
    background-color: #00D1004D;
    border: 1px solid #00D100;
}

.term-autumn {
    cursor:pointer;
    background-color: #FFF700;
    border: 1px solid #F9DA3D;
}

.bolded-Text {
   color: black;
   font-size: 16px; 
}