:host::ng-deep .mat-select-placeholder {
    font-weight: bold;
    color:rgb(112, 109, 109);
 }
 .mat-form-field {
     margin-top: 20px !important;
 }

 :host ::ng-deep .space {
    @media screen and (max-width: 960px) {
        margin-left: 8px;
    }
}

:host ::ng-deep .fil {
    @media screen and (max-width: 960px) {
        gap: 5px;
    }
}

.zeroPadding{

}

.presets{

}

.mat-error {
  font-size: 12px;
  margin-top: 15px !important;
}

:host ::ng-deep .zeroPadding .mat-form-field-wrapper {
    padding-bottom: 0 !important;
}

//  :host::ng-deep div {
//     @media (min-width: 1060px) and (max-width: 1340px) {

//         form {
//             width: 30% !important;
//             // mat-form-field {
//             //     max-width: % !important;
//             //     min-width: 95% !important;
//             // }
//         }
//       }
//  }

//  :host ::ng-deep mat-form-field.redd {
//   &.mat-form-field-appearance-outline .mat-form-field-outline {
//     color:red !important;
//   }
// }
.custom-datepicker-container {
  display: flex;
  align-items: center;
  position: relative;
  // width: 200px;
  // display: inline-block;
}

.custom-datepicker-prev-button {
  left: -10px;
}

.custom-datepicker-next-button {
  right: -10px;
}
// .custom-datepicker-container .only-date-width{
//   width: 150px;
// }

.custom-datepicker-prev-button,
.custom-datepicker-next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  margin: 0 4px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  color: black;
  border: none;
  line-height: 15px;
}
.custom-datepicker-prev-button:hover,
.custom-datepicker-next-button:hover {
  background-color: #00AFBB;
  color: white;
}
.custom-date-picker{
  left: 30px;
  .mat-form-field-suffix {
    display: flex;
    align-items: center;
  }
  .mat-datepicker-toggle {
    position: relative;
  }
  .close-icon {
    position: absolute;
    right: 10px;
    top: 45%;
    transform: translateY(-50%);
  }
}

.custom-date-picker-present{
  max-width: 230px;
  min-width: 230px;
}
.custom-date-picker-absent{
  max-width: 170px;
  min-width: 170px;
}
.custom-datepicker-prev-button.active{
  background-color: #00AFBB;
  color: white;
}

custom-datepicker-next-button.active{
  background-color: #00AFBB;
  color: white;
}
