<mat-card  class="row-margin-tb card-dark">
    <form [formGroup]="Form"
      (ngSubmit)="onSubmit()">
    <ng-container>
        <mat-card class="card">
            <app-app-headers [headerProps]="genericHeadingProps('References','text-bolder text-color','15px')"></app-app-headers>
            <div fxLayout="row wrap"
            fxLayoutAlign="space-between center"
            class="row-wrap-margins">
            <div fxFlex="100">
                <p class="form-text">
                    Please detail how you feel you meet the criteria for the role and provide any other information you consider
                    relevant in support of your application. Please continue on a separate sheet if necessary.
                </p>
            </div>
        </div>
            <app-app-headers
                             [headerProps]=" genericHeadingProps('References No. 1','text-small text-gray','0px 15px')">
            </app-app-headers>
            
            <div fxLayout="row wrap"
                 fxLayoutAlign="space-between center"
                 class="row-wrap-margins">
                 <div fxFlex.xl="28"
                 fxFlex.lg="32"
                 fxFlex.md="32"
                 fxFlex.sm="45"
                 fxFlex.xs="100"
                 class="col-flex-margins">
                 <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input matInput
                           type="text"
                           formControlName="phone"
                           required>
                    <!-- <mat-error *ngIf="getField('id')">{{getErrorMessage('id')}}</mat-error> -->
                </mat-form-field>
            </div>
            <div fxFlex.xl="28"
                 fxFlex.lg="66"
                 fxFlex.md="66"
                 fxFlex.sm="45"
                 fxFlex.xs="100"
                 class="col-flex-margins">
                <mat-form-field>
                    <mat-label>Address</mat-label>
                    <input matInput
                           type="text"
                           formControlName="address"
                           required>
                    <!-- <mat-error *ngIf="getField('id')">{{getErrorMessage('id')}}</mat-error> -->
                   
                </mat-form-field>
            </div>
            <div fxFlex.xl="28"
                 fxFlex.lg="32"
                 fxFlex.md="32"
                 fxFlex.sm="45"
                 fxFlex.xs="100"
                 class="col-flex-margins">
                 <mat-form-field>
                    <mat-label>Telephone Number</mat-label>
                    <input matInput
                           type="text"
                           formControlName="phone"
                           required>
                    <!-- <mat-error *ngIf="getField('id')">{{getErrorMessage('id')}}</mat-error> -->
                </mat-form-field>
            </div>
            <div fxFlex.xl="28"
                 fxFlex.lg="32"
                 fxFlex.md="32"
                 fxFlex.sm="45"
                 fxFlex.xs="100"
                 class="col-flex-margins">
                 <mat-form-field>
                    <mat-label>Email Address</mat-label>
                    <input matInput
                           type="text"
                           formControlName="phone"
                           required>
                    <!-- <mat-error *ngIf="getField('id')">{{getErrorMessage('id')}}</mat-error> -->
                </mat-form-field>
            </div>
                <div fxFlex.xl="28"
                     fxFlex.lg="32"
                     fxFlex.md="32"
                     fxFlex.sm="45"
                     fxFlex.xs="100"
                     class="col-flex-margins">
                        <mat-form-field>
                            <mat-label>Relationship to you</mat-label>
                            <mat-select class="height-40" 
                            formControlName="age"
                            >
                                <mat-option value="soil">Soil</mat-option>
                                <mat-option value="plastic">Plastic</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
  
            </div>

            <app-app-headers
                             [headerProps]=" genericHeadingProps('References No. 2','text-small text-gray','0px 15px')">
            </app-app-headers>
            
            <div fxLayout="row wrap"
                 fxLayoutAlign="space-between center"
                 class="row-wrap-margins">
                 <div fxFlex.xl="28"
                 fxFlex.lg="32"
                 fxFlex.md="32"
                 fxFlex.sm="45"
                 fxFlex.xs="100"
                 class="col-flex-margins">
                 <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input matInput
                           type="text"
                           formControlName="phone"
                           required>
                    <!-- <mat-error *ngIf="getField('id')">{{getErrorMessage('id')}}</mat-error> -->
                </mat-form-field>
            </div>
            <div fxFlex.xl="28"
                 fxFlex.lg="66"
                 fxFlex.md="66"
                 fxFlex.sm="45"
                 fxFlex.xs="100"
                 class="col-flex-margins">
                <mat-form-field>
                    <mat-label>Address</mat-label>
                    <input matInput
                           type="text"
                           formControlName="address"
                           required>
                    <!-- <mat-error *ngIf="getField('id')">{{getErrorMessage('id')}}</mat-error> -->
                   
                </mat-form-field>
            </div>
            <div fxFlex.xl="28"
                 fxFlex.lg="32"
                 fxFlex.md="32"
                 fxFlex.sm="45"
                 fxFlex.xs="100"
                 class="col-flex-margins">
                 <mat-form-field>
                    <mat-label>Telephone Number</mat-label>
                    <input matInput
                           type="text"
                           formControlName="phone"
                           required>
                    <!-- <mat-error *ngIf="getField('id')">{{getErrorMessage('id')}}</mat-error> -->
                </mat-form-field>
            </div>
            <div fxFlex.xl="28"
                 fxFlex.lg="32"
                 fxFlex.md="32"
                 fxFlex.sm="45"
                 fxFlex.xs="100"
                 class="col-flex-margins">
                 <mat-form-field>
                    <mat-label>Email Address</mat-label>
                    <input matInput
                           type="text"
                           formControlName="phone"
                           required>
                    <!-- <mat-error *ngIf="getField('id')">{{getErrorMessage('id')}}</mat-error> -->
                </mat-form-field>
            </div>
                <div fxFlex.xl="28"
                     fxFlex.lg="32"
                     fxFlex.md="32"
                     fxFlex.sm="45"
                     fxFlex.xs="100"
                     class="col-flex-margins">
                        <mat-form-field>
                            <mat-label>Relationship to you</mat-label>
                            <mat-select class="height-40" 
                            formControlName="age"
                            >
                                <mat-option value="soil">Soil</mat-option>
                                <mat-option value="plastic">Plastic</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
  
            </div>

            <app-app-headers
                             [headerProps]=" genericHeadingProps('How did you hear about this position? Please state the full name of the person if referred by a Stars employee.','text-small text-gray','0px 15px')">
            </app-app-headers>
            <div fxLayout="row wrap"
                 fxLayoutAlign="space-between center"
                 class="row-wrap-margins">
                 <div fxFlex.xl="50"
                 fxFlex.lg="98"
                 fxFlex.md="98"
                 fxFlex.sm="100"
                 fxFlex.xs="100"
                 class="col-flex-margins">
                 <textarea
                     placeholder="Write here...."
                     formControlName="name"
                     class="txtarea"
                     required>
                </textarea>
                </div>
                </div>


            <app-form-foooter [footerProps]="footerProps"></app-form-foooter>
        </mat-card>
    </ng-container>
</form>
</mat-card>

