* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;

    &:focus {
        outline: none;
    }
}

.sidelogo {
    width: 155px;
    margin-left: -37px;
}

.admin-sidebar {
    .admin-sidebar-wrapper {
        position: relative;
        overflow: hidden;
        width: 100%;
        padding-bottom: 30px;
        flex: 1 1 auto;
    }



    .mat-expansion-indicator::after {
        color: white !important;
    }



    .mat-expansion-panel-header {
        // font-family: $font-family !important;
        font:normal normal  16px/29px Poppins;
        // font-size: 14px !important;
        // font-weight: 600 !important;
        padding: 0 !important;
    }

    .mat-expansion-panel-content {
        // font-family: $font-family !important;
        font:normal normal  16px/29px Poppins;

        // font-size: 14px !important;
        // font-weight: 600 !important;
    }

    .mat-content {
        width: 100% !important;
        display: block !important;
    }

    mat-expansion-panel {
        background-color: #fff !important;
        box-shadow: none !important;

        .mat-expansion-panel-header {
            color: #000 !important;
        }

        &:hover {
            background-color: #fff !important;

            .mat-expansion-panel-header {
                color: #000 !important;
            }
        }
    }

    .mat-expansion-panel .mat-expansion-panel-header.cdk-keyboard-focused:not([aria-disabled=true]),
    .mat-expansion-panel .mat-expansion-panel-header.cdk-program-focused:not([aria-disabled=true]),
    .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled=true]) {
        background-color: #fff !important;
    }

    mat-expansion-panel.active {
        background-color: #fff !important;

        .mat-expansion-panel-header {
            color: white !important;
        }
    }

    .menu {
        margin: 0;
        padding: 0;
        list-style: none;

        .menu-item {
            position: relative;
            display: block;
            clear: both;
            width: 100%;
            list-style: none;
            transition: opacity ease 0.2s;

            .menu-link {
                text-decoration: none;
                display: table;
                width: 100%;
                padding: 0px 10px;
                justify-content: space-between;
                // margin: 5px 10px 5px 0px;
                cursor: pointer;
                position: relative;
                height: 46px;
                background: #fff;
                // border-radius: 25px;
                // border: 2px solid #E2E6FF;

                &.parent {
                    margin: 20px 15px 16px 8px;
                    &.active,
                    &:hover {background: #00AFBB;
                    color: #FFFFFF;
                    border-radius: 14px;}
                }

                &.active,
                &:hover {
                    .filter-color {
                        filter: brightness(0) invert(1);
                       
                    }
                    .menu-label {
                        color: white;
                    }
                    
                }
                &.opened {
                    // background: transparent linear-gradient(99deg, #EFF6FF0D 0%, #798CFF34 100%) 0% 0% no-repeat padding-box;
                    border-radius: 0px;
                    border-top-left-radius: 14px;
                    border-top-right-radius: 14px;
                    // border: 2px solid #E2E6FF;
                    .menu-label {
                        color: white;
                    }
                    &:hover,
                    &.opened {
                        // background: transparent linear-gradient(99deg, #EFF6FF0D 0%, #798CFF34 100%) 0% 0% no-repeat padding-box;
                        background: #00AFBB;
                        color: #FFFFFF;
                        border-radius: 0px;
                        border-top-left-radius: 14px;
                        border-top-right-radius: 14px;
                        .filter-color {
                            filter: brightness(0) invert(1);
                           
                        }
                        
                    }
                }
                .menu-icon{
                    float: left;
                }
                .menu-label {
                    display: table-cell;
                    vertical-align: middle;
                    margin: 8px 0px 0px 10px;
                    float: left;
                    color: #404040;
                    text-align: left;
                    .menu-name {
                        display: block;
                        font:normal normal 600 14px/26px Poppins;
                       
                    }
                }
                // .filter-color {
                //     // filter: invert(6%) sepia(96%) saturate(6538%) hue-rotate(232deg) brightness(90%) contrast(95%);
                //     filter: invert(100%) sepia(1%) saturate(7472%) hue-rotate(209deg) brightness(109%) contrast(100%);// blue
                // }
            }
           
            .sub-menu {
                display: block;
                padding: 0;
                list-style: none;
                position: relative;
                transition: all 1.2s ease;
                //star nursery update left
                left: 8px;
                // background: #00AFBB;
                margin-right: 23px;
                // border-bottom-left-radius: 10px;
                // padding-bottom: 5px;
                // border-bottom-right-radius: 10px;
                
              
                .menu-link {
                    background: #00AFBB;
                    height: 35px;
                    // margin: 0px 15px 0px 0px;
                  
                    .menu-label {
                        // padding-left: 10px;
                        margin: 5px 0px 0px 10px;
                        color: white;
                        text-align: left;
                        .menu-name {
                           font: normal normal 600 12px/26px Poppins;
                           color: #FFFFFF;

                        }
                    }

                    &:hover,
                    &.active,
                    &.opened {
                    
                        background: #E2AF2A;
                        border-top-left-radius: 0px;
                        border-top-right-radius: 0px;
                       
                        .menu-label {
                            color: #fff;
                        }
                      
                    }
                }
            }
        }

        .menu-item.active {
            background: #5E6EC1; //#D6DDFF

            >.menu-link {
                .icon-placeholder {
                    color: #fff;
                }

                .menu-label {
                    color: #fff;
                }
            }
        }

        .menu-item.opened {
            .menu-link {
                .menu-label {
                    color: #fff;
                }
            }
        }
       
    }
}
.last-child{
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
  }