<!-- <mat-card  class="row-margin-tb card-dark">
    <form [formGroup]="Form"
      (ngSubmit)="onSubmit()">
    <ng-container>
        <mat-card class="card">
            <app-app-headers [headerProps]="genericHeadingProps('Declaration','text-bolder text-color','15px')"></app-app-headers>
            
            <div fxLayout="row wrap"
                 fxLayoutAlign="space-between center"
                 class="row-wrap-margins">
                 <div fxFlex="100">
                    <p class="form-text">
                        I hereby confirm that the information I have provided in this application is, to the best of my knowledge, accurate
                        and true. I understand that if I give any false or misleading information that my application may be rejected or, if
                        I am offered a job, it might lead to dismissal from Stars Day Nurseries Ltd.
                    </p>
                </div>
                <div fxFlex.xl="28"
                     fxFlex.lg="32"
                     fxFlex.md="32"
                     fxFlex.sm="45"
                     fxFlex.xs="100"
                     class="col-flex-margins">
                     
                        <textarea
                               placeholder="Signature"
                               formControlName="name"
                               class="txtarea"
                               required>
                               </textarea>
                        <!-- <mat-error *ngIf="getField('id')">{{getErrorMessage('id')}}</mat-error> -->
                    
                <!-- </div>
                <div fxFlex.xl="28"
                     fxFlex.lg="32"
                     fxFlex.md="32"
                     fxFlex.sm="45"
                     fxFlex.xs="100"
                     class="col-flex-margins"
                     style="margin-left: 40px;">
                     <mat-form-field (click)="desired.open()">
                        <mat-label>Date of Birth</mat-label>
                        <input matInput
                               readonly
                               [min]="minDate"
                               [max]="currentDate"
                               formControlName="startDate"
                               [matDatepicker]="desired">
                        <mat-datepicker-toggle matSuffix
                                               [for]="desired"></mat-datepicker-toggle>
                        <mat-datepicker #desired></mat-datepicker> -->
                        <!-- <mat-error *ngIf="getField('startDate')">{{getErrorMessage('startDate')}}</mat-error> -->
                    <!-- </mat-form-field>
                </div>
                <div fxFlex.xl="28"
                     fxFlex.lg="32"
                     fxFlex.md="32"
                     fxFlex.sm="45"
                     fxFlex.xs="100"
                     class="col-flex-margins">
                </div>
                <div fxFlex.xl="100"
                     fxFlex.lg="100"
                     fxFlex.md="100"
                     fxFlex.sm="100"
                     fxFlex.xs="100"
                     class="col-flex-margins">
                     <p style="font: italic normal medium 18px/27px Poppins;
                     letter-spacing: 0px;
                     color: #00AFBB;">Thank you for your application to join the Stars Day Nurseries Ltd team.</p>
                </div>
                <div fxFlex.xl="100"
                     fxFlex.lg="100"
                     fxFlex.md="100"
                     fxFlex.sm="100"
                     fxFlex.xs="100"
                     class="col-flex-margins">
                    <p class="form-text">Stars Day Nurseries Ltd is an equal opportunities employer and is committed to
                        ensuring that our recruitment process is open, fair and not influenced by irrelevant considerations. To that end,
                        you are asked to complete an Equal Opportunities Recruitment Monitoring Form which will not be shared with those
                        involved in the selection process.</p>
                </div>
                <div fxFlex.xl="100"
                     fxFlex.lg="100"
                     fxFlex.md="100"
                     fxFlex.sm="100"
                     fxFlex.xs="100"
                     class="col-flex-margins">
                     <p style="font: italic normal medium 18px/27px Poppins;
                     letter-spacing: 0px;
                     color: #00AFBB;">Strictly Private and Confidential</p>
                </div>
  
            </div>

            <app-form-foooter [footerProps]="footerProps"></app-form-foooter>
        </mat-card>
    </ng-container>
</form>
</mat-card>  -->
