:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
  padding-bottom: 0px !important;
}

.sideOption {
  color: white;
  background: #00AFBB;
  border-radius: 14px;
}

.heading {
  margin-top: 10px;
  text-align: left;
  margin-left: 10%;
}
