$width: 128px;

:host {
  position: absolute;
  width: $width;
  left: -$width; // to render it on the right side, use "right: -$width" instead
}

:host(.touch-ui) {
  position: relative;
  left: 0;
  display: flex;
  width: 100%;
}

.presets {
  border-radius: 5px 0 0 5px !important;
  border: 1px solid lightgray;
  height: 355px;
}

#hiddenDiv {
  width: 300px;
  height: 350px;
  border: 1px solid black;
  bottom: 2px;
  left: 142px;
  position: absolute;
  z-index: 100000;
}