.mat-table {
    // font-weight: bold;
    font: normal normal normal 15px Poppins;
}

table.mat {
    border-collapse: collapse;
    border-color: #ffffff;
    width: calc(100% - 1px);
}

tr button.selected {
    border: 2px solid;
    border-radius: 3px;
}

th {
    text-align: center;
}

td {
    padding: 7px;
}

td button {
    width: 50px;
    border: none;
    padding: 5px 0px;
    background: none;
}

.mat-cell, .mat-footer-cell {
    font-size: 14px !important;
}

th.mat-header-cell {
    text-align: center;
    // height: 40px;
    border-left: 1px solid;
    border-color: #E4E7E9;
    // padding: 0px 10px !important;
    white-space: nowrap;
    font: normal normal bold 15px Poppins;
    opacity: 1;
}

::ng-deep th.mat-header-cell {
    // background: #A5AEB626;
    background: #eff0f2;
}

tr.mat-row {
    height: 55px;
}

mat-cell > span.ellipsis {
    text-overflow: ellipsis;
    max-width: 320px;
    overflow: hidden;
    white-space: nowrap;
 }

// table {
//     width: 100%;
// }

mat-header-cell,
mat-cell {
    justify-content: center !important;
}

.mat-sort-header-container {
    justify-content: center !important;
}

tr.example-detail-row {
    height: 0;
}

td.mat-cell {
    text-align: center;
    // height: 40px;
    border-left: 1px solid;
    border-color: #E4E7E9;
    // padding: 0px 10px !important;
    white-space: nowrap;
    font: normal normal bold 15px Poppins;
    opacity: 1;
    max-width: 198px;
    border-right-style: initial !important;
    padding: 7px !important;
}

td.small {
    max-width: 150px;
    white-space: normal;
}

:host ::ng-deep .mat-checkbox-layout {
    margin-bottom: 2px !important;
    margin-right: 10px;
}

.tooltip {
    position: relative;
    top: 2px;
    color: #00AFBB;
}

:host ::ng-deep mat-error {
    font-size: 11px !important;
  }
  .close {
    float: right;
    color: red;
}