::ng-deep .mat-checkbox-layout{
    margin-bottom: 0!important;
}

::ng-deep .mat-option.mat-option-disabled{
    color: gray;
}
::ng-deep .mat-option.mat-option-disabled{
    color: black;
}

label{
    font: normal normal 600 16px Poppins;
}