:host ::ng-deep .calendarView .mat-calendar-period-button {
    min-width: 0;
    font-size: 12px;
    padding: 0px 10px;
}

:host ::ng-deep .calendarView .mat-calendar-table  {
   pointer-events: none !important;
}



:host ::ng-deep .form-menu-clicked {
    background: #00AFBB;
    border-radius: 14px;
    height: 40px;
    width: 85%;
}