<mat-card  class="row-margin-tb card-dark">
    <form [formGroup]="Form"
      (ngSubmit)="onSubmit()">
    <ng-container>
        <mat-card class="card">
            <app-app-headers [headerProps]="genericHeadingProps('Education History','text-bolder text-color','15px')"></app-app-headers>
            
            <div fxLayout="row wrap"
                 fxLayoutAlign="space-between center"
                 class="row-wrap-margins">
                 <div fxFlex="100">
                    <p>
                        Please provide details of your employment history, starting with your current or most recent role.
                    </p>
                </div>
                <div fxFlex.xl="28"
                     fxFlex.lg="32"
                     fxFlex.md="32"
                     fxFlex.sm="45"
                     fxFlex.xs="100"
                     class="col-flex-margins">
                    <mat-form-field>
                        <mat-label>Job Title</mat-label>
                        <input matInput
                               type="text"
                               formControlName="name"
                               required>
                        <!-- <mat-error *ngIf="getField('id')">{{getErrorMessage('id')}}</mat-error> -->
                    </mat-form-field>
                </div>
                <div fxFlex.xl="28"
                     fxFlex.lg="32"
                     fxFlex.md="32"
                     fxFlex.sm="45"
                     fxFlex.xs="100"
                     class="col-flex-margins">
                    <mat-form-field>
                        <mat-label>Company Name</mat-label>
                        <input matInput
                               type="text"
                               formControlName="reg"
                               minlength="4"
                               maxlength="16"
                               required>
                        <!-- <mat-error *ngIf="getField('nameEn')">{{getErrorMessage('nameEn')}}</mat-error> -->
                    </mat-form-field>
                </div>
                <div fxFlex.xl="28"
                     fxFlex.lg="32"
                     fxFlex.md="32"
                     fxFlex.sm="45"
                     fxFlex.xs="100"
                     class="col-flex-margins">
                </div>
                <div fxFlex.xl="28"
                     fxFlex.lg="32"
                     fxFlex.md="32"
                     fxFlex.sm="45"
                     fxFlex.xs="100"
                     class="col-flex-margins">
                     <mat-form-field (click)="desired.open()">
                        <mat-label>Start Date</mat-label>
                        <input matInput
                               readonly
                               [min]="minDate"
                               [max]="currentDate"
                               formControlName="startDate"
                               [matDatepicker]="desired">
                        <!-- <mat-datepicker-toggle matSuffix
                                               [for]="desired"></mat-datepicker-toggle> -->
                        <mat-datepicker #desired></mat-datepicker>
                        <!-- <mat-error *ngIf="getField('startDate')">{{getErrorMessage('startDate')}}</mat-error> -->
                    </mat-form-field>
                </div>
                <div fxFlex.xl="28"
                     fxFlex.lg="32"
                     fxFlex.md="32"
                     fxFlex.sm="45"
                     fxFlex.xs="100"
                     class="col-flex-margins">
                     <mat-form-field (click)="desired1.open()">
                        <mat-label>End Date</mat-label>
                        <input matInput
                               readonly
                               [min]="minDate"
                               [max]="currentDate"
                               formControlName="endDate"
                               [matDatepicker]="desired1">
                        <!-- <mat-datepicker-toggle matSuffix
                                               [for]="desired1"></mat-datepicker-toggle> -->
                        <mat-datepicker #desired1></mat-datepicker>
                        <!-- <mat-error *ngIf="getField('endDate')">{{getErrorMessage('endDate')}}</mat-error> -->
                    </mat-form-field>
                </div>
                <div fxFlex.xl="28"
                     fxFlex.lg="32"
                     fxFlex.md="32"
                     fxFlex.sm="45"
                     fxFlex.xs="100"
                     class="col-flex-margins">
                    <mat-form-field>
                        <mat-label>Rate of Pay</mat-label>
                        <input matInput
                               type="text"
                               formControlName="name"
                               required>
                        <!-- <mat-error *ngIf="getField('id')">{{getErrorMessage('id')}}</mat-error> -->
                    </mat-form-field>
                </div>
                <div fxFlex.xl="100"
                     fxFlex.lg="100"
                     fxFlex.md="100"
                     fxFlex.sm="100"
                     fxFlex.xs="100"
                     class="col-flex-margins">
                     <mat-form-field>
                        <mat-label>Summary of Duties</mat-label>
                        <input matInput
                               type="text"
                               formControlName="name"
                               required>
                        <!-- <mat-error *ngIf="getField('id')">{{getErrorMessage('id')}}</mat-error> -->
                    </mat-form-field>
                    </div>
                    <div fxFlex.xl="100"
                     fxFlex.lg="100"
                     fxFlex.md="100"
                     fxFlex.sm="100"
                     fxFlex.xs="100"
                     class="col-flex-margins">
                     <mat-form-field>
                        <mat-label>Reason for Leaving</mat-label>
                        <input matInput
                               type="text"
                               formControlName="name"
                               required>
                        <!-- <mat-error *ngIf="getField('id')">{{getErrorMessage('id')}}</mat-error> -->
                    </mat-form-field>
                    </div>
  
            </div>

            <app-form-foooter [footerProps]="footerProps"></app-form-foooter>
        </mat-card>
    </ng-container>
</form>
</mat-card>
